
.overlay{
  position:fixed;
   background:url(images/image13.jpg);
   background-blend-mode: overlay;
   background-size: cover;

  top:0;
  left:0;
  width:100%;
 height:100%;
}


.emp{
  text-align:right;
  color:white !important;
  margin-top:1px;
  font:60px;
  padding-right: 90px;
  font-family:Helvetica, Arial, sans-serif ;
  font-weight: 900;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.emp2{
  text-align:right;
  color:#4169E1 !important;
  margin-top:1px;
  padding-right: 20px;
  font:50px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.emp3{
  color:white;
  text-align:right;
  margin-top: 11px;
  font:10px;
  padding-right: 20px;
  font-family:  sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.logo {
  text-align:left;
  font:30px;
  color: #000080;
  font-family: fantasy;
  margin-top: 0px;


  float: left;
    display: block;

    text-decoration: none;
}
.log{
  font: 30px;
  color: 	#FF0000;
  font-family: Segoe Script;
  text-align: left;

}

h3{

  text-align:center;
  color:gold !important;
  margin-top: 10px;
  font:30px Lobster;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}



@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}


.btn-wrap{
  margin:0 auto;
  width:200px;
  padding-top:50px;
}

.btn-wrap a{
  background:gold;
  color:#FFF;
  position:relative;
  margin-left: 16%;
  padding:15px;
  font-weight:900 !important;
  text-transform:uppercase;
  border-radius:5px;
  font:14px lato;
  opacity:0.8;
  letter-spacing:1px;
  text-decoration:none;

}

.btn-wrap a:hover{
  opacitY:1;
}
.btn-wrap a:active{
  top:4px;
}


a:hover, a:focus {
  color: rgb(240, 102, 22) !important;
  text-decoration: none;
}




li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #d66828 !important;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-wrap-go a {
  background: #4169E1;
  color: #FFF;
  position: relative;
  margin-left: 10%;
  /* margin-bottom: -10%; */
  padding: 15px;
  font-weight: 900 !important;
  text-transform: uppercase;
  border-radius: 5px;
  font: 14px lato;
  opacity: 0.8;
  letter-spacing: 1px;
  text-decoration: none;
}

